---
const { title = "Benedikt Faude" } = Astro.props;
---
<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>
  <body class="bg-white text-gray-900 font-sans max-w-2xl mx-auto p-6 mt-12 leading-relaxed">
    <slot />
  </body>
</html>
